In [1]:
import pandas as pd
import numpy as np

In [2]:
status_161Path = "/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/ts-realtime-analysis-bike/status_161.csv"
status_161DF = pd.read_csv(status_161Path, sep=",")

In [3]:
status_161DF.head(5)

          last_updated  num_bikes_available
0  2018-04-07 01:10:48                   28
1  2018-04-07 01:31:44                   28
2  2018-04-07 01:32:57                   30
3  2018-04-07 01:33:51                   30
4  2018-04-07 01:34:54                   30

In [4]:
status_161DF["log_bikes_available"] = np.log(status_161DF["num_bikes_available"] + 1)

In [5]:
log_path= "/Users/chuamelia/Google Drive/Forecasting Time Series/citi-bike/ts-realtime-analysis-bike/log_status_161.csv"

status_161DF[["last_updated","log_bikes_available"]].to_csv(log_path, sep=",",index=False)

In [7]:
status_161DF["diff_log_bikes"] = np.insert(np.diff(status_161DF["log_bikes_available"]), 0, None)

In [8]:
status_161DF

,last_updated,num_bikes_available,log_bikes_available,diff_log_bikes
0,2018-04-07 01:10:48,28,3.367296,NaN
1,2018-04-07 01:31:44,28,3.367296,0.000000
2,2018-04-07 01:32:57,30,3.433987,0.066691
3,2018-04-07 01:33:51,30,3.433987,0.000000
4,2018-04-07 01:34:54,30,3.433987,0.000000
5,2018-04-07 01:35:57,30,3.433987,0.000000
6,2018-04-07 01:37:00,30,3.433987,0.000000
7,2018-04-07 01:37:52,30,3.433987,0.000000
8,2018-04-07 01:38:55,30,3.433987,0.000000
9,2018-04-07 01:39:58,30,3.433987,0.000000
10,2018-04-07 01:40:50,30,3.433987,0.000000
11,2018-04-07 01:41:54,30,3.433987,0.000000
12,2018-04-07 01:42:57,29,3.401197,-0.032790
13,2018-04-07 01:43:49,29,3.401197,0.000000
14,2018-04-07 01:44:52,29,3.401197,0.000000
15,2018-04-07 01:45:55,29,3.401197,0.000000
16,2018-04-07 01:46:58,29,3.401197,0.000000
17,2018-04-07 01:47:51,29,3.401197,0.000000
18,2018-04-07 01:48:43,30,3.433987,0.032790
19,2018-04-07 01:49:56,30,3.433987,0.000000
20,2018-04-07 01:50:49,30,3.433987,0.000000
21,2018-04-07 01:51:52,30,3.433987,0.000000
22,2018-04-07 01:52:55,29,3.401197,-0.032790
23,2018-04-07 01:53:48,29,3.401197,0.000000
24,2018-04-07 01:54:50,29,3.401197,0.000000
25,2018-04-07 01:55:53,29,3.401197,0.000000
26,2018-04-07 01:56:56,29,3.401197,0.000000
27,2018-04-07 01:57:59,29,3.401197,0.000000
28,2018-04-07 01:58:52,29,3.401197,0.000000
29,2018-04-07 01:59:54,30,3.433987,0.032790
...,...,...,...,...
12965,2018-04-16 03:29:51,7,2.079442,0.000000
12966,2018-04-16 03:30:55,7,2.079442,0.000000
12967,2018-04-16 03:31:47,7,2.079442,0.000000
12968,2018-04-16 03:32:50,7,2.079442,0.000000
12969,2018-04-16 03:33:53,7,2.079442,0.000000
12970,2018-04-16 03:34:56,7,2.079442,0.000000
12971,2018-04-16 03:35:49,7,2.079442,0.000000
12972,2018-04-16 03:36:51,7,2.079442,0.000000
12973,2018-04-16 03:37:44,7,2.079442,0.000000
12974,2018-04-16 03:38:47,7,2.079442,0.000000
12975,2018-04-16 03:40:00,7,2.079442,0.000000
12976,2018-04-16 03:40:52,7,2.079442,0.000000
12977,2018-04-16 03:41:45,7,2.079442,0.000000
12978,2018-04-16 03:42:48,7,2.079442,0.000000
12979,2018-04-16 03:43:51,7,2.079442,0.000000
12980,2018-04-16 03:44:54,8,2.197225,0.117783
12981,2018-04-16 03:45:46,8,2.197225,0.000000
12982,2018-04-16 03:46:49,8,2.197225,0.000000
12983,2018-04-16 03:47:52,7,2.079442,-0.117783
12984,2018-04-16 03:48:45,6,1.945910,-0.133531
12985,2018-04-16 03:49:48,6,1.945910,0.000000
12986,2018-04-16 03:50:51,6,1.945910,0.000000
12987,2018-04-16 03:51:54,6,1.945910,0.000000
12988,2018-04-16 03:52:46,6,1.945910,0.000000
12989,2018-04-16 03:53:49,6,1.945910,0.000000
12990,2018-04-16 03:54:53,6,1.945910,0.000000
12991,2018-04-16 03:55:56,6,1.945910,0.000000
12992,2018-04-16 03:56:48,6,1.945910,0.000000
12993,2018-04-16 03:57:51,6,1.945910,0.000000
12994,2018-04-16 03:58:44,6,1.945910,0.000000